@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.glass {
  background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent background */
  border-radius: 16px;
  backdrop-filter: blur(10px); /* Blurs the background behind the element */
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Light border */
}
